<ng-container>
  <div id="game" class="bg-secondary w-full h-svh">
    <div class="flex items-center justify-center h-full">
      <div class="wrapper-board relative group">
        <img src="/assets/images/board-layer-black-large.svg" class="w-200 h-200 object-contain relative z-10" alt="">
        <img src="/assets/images/board-layer-white-large.svg" class="w-200 h-200 absolute -top-3 left-0 right-0 object-contain z-30" alt="">
        <div class="absolute top-0 right-0 left-0 bottom-0 grid grid-cols-7 z-20 pb-22 pt-10 px-2 overflow-hidden">
          @for (item of boards; track $index) {
            <a href="javascript:void(0)">
              <div class="flex justify-center items-center">
                <img src="/assets/images/counter-red-large.svg" alt="" class="w-26 h-26">
              </div>
            </a>
          }
        </div>

        <div class="absolute right-0 top-0 left-0 w-full h-full z-50 grid grid-flow-col grid-cols-7 px-2">
          @for (item of [0, 1, 2, 3, 4, 5, 6]; track $index) {
            <div class="marked w-26 h-full relative flex justify-center" [class]="$index ? 'group' : ''">
              <img src="/assets/images/marker-red.svg" class="w-10 h-10 relative -top-6 hidden group-hover:block" alt="marked">
            </div>
          }
        </div>
        <!-- <div class="w-240 h-240 rounded-4xl bg-primary-black pb-20 z-20 flex flex-row flex-wrap flex-auto gap-4 p-8">
          @for (item of boards; track $index) {
            <div class="w-28 h-28 rounded-full border-4 border-primary-black border-t-8 hole"></div>
          }
        </div>
        <div class="w-240 h-240 rounded-4xl bg-white pb-20 absolute -top-4 left-0 right-0 z-10 border-4 border-primary-black flex flex-row flex-wrap flex-auto gap-4 p-8">
          @for (item of boards; track $index) {
            <div class="w-28 h-28 rounded-full border-4 border-primary-black border-t-8 hole"></div>
          }
        </div> -->
      </div>
    </div>
  </div>
</ng-container>
