<div class="w-full h-full flex justify-center items-center flex-col gap-8">
  <h1 class="text-8xl text-white font-bold">PAUSED</h1>

  <div class="flex flex-col gap-4 justify-center w-full">
    <button (click)="onResume()" class="bg-white border-4 border-b-14 border-primary-black rounded-3xl w-120 h-auto py-4 m-auto text-black font-bold text-3xl transition-all hover:text-white hover:bg-primary-pink">
      CONTINUE GAME
    </button>

    <button (click)="onRestart()" class="bg-white border-4 border-b-14 border-primary-black rounded-3xl w-120 h-auto py-4 m-auto text-black font-bold text-3xl transition-all hover:text-white hover:bg-primary-pink">
      RESTART
    </button>

    <button (click)="onQuit()" class="bg-white border-4 border-b-14 border-primary-black rounded-3xl w-120 h-auto py-4 m-auto text-black font-bold text-3xl transition-all hover:text-white hover:bg-primary-pink">
      QUIT GAME
    </button>
  </div>

</div>
